<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles/main.css" />
    <title>Book Notes</title>
  </head>
  <body>
    <div class="NavBar">
      <% if (locals.name) {%>
      <p>User: <%= locals.name%></p>
      <% } %>
      <form class="NavBar--forms" action="/login">
        <% if (!locals.name) {%>
        <div>
          <label for="name">Name:</label>
          <input type="text" name="name" id="name" required />
        </div>
        <div>
          <label for="password">Password:</label>
          <input type="text" name="password" required />
        </div>
        <div>
          <input type="submit" value="Login" />
          <input type="submit" formaction="signup" value="Sign-up" />
          <% } else { %>
          <input type="submit" formaction="signout" value="Sign-out" />
          <% } %>
        </div>
      </form>
      <div></div>
    </div>
    <div class="container">
      <h1 class="container--title">Book Notes</h1>
    </div>

    <div class="container">
      <form action="/add" method="post">
        <div class="flex">
          <div>
            <label for="isbn">ISBN:</label> <br />
            <input type="text" name="isbn" /> <br />
          </div>
          <div>
            <label for="rating">Rating:</label> <br />
            <input type="number" name="rating" min="0" max="5" /> <br />
          </div>
        </div>
        <label for="notes" style="margin-top: 4rem">Notes:</label> <br />
        <textarea
          name="notes"
          id="notes"
          maxlength="200"
          rows="5"
          cols="50"
        ></textarea>
        <% if (locals.error) {%>
        <p>Error: <%= locals.error %></p>
        <% } %>
        <br />
        <input type="submit" value="Add Book" />
      </form>
    </div>
    <hr />

    <div class="container">
      <form action="/sort">
        <select name="sorts" data-placeholder="Filter by..." id="sorts">
          <option value="ratinglow">Rating Low > High</option>
          <option value="ratinghigh">Rating High > Low</option>
          <input type="submit" value="Sort" />
        </select>
      </form>
      <div class="bookGrid">
        <% for (let book of listBooks) { %>
        <div>
          <img
            src="https://covers.openlibrary.org/b/isbn/<%= book.isbn %>-M.jpg"
          />
          <form action="/edit">
            <label for="rating">Rating: </label>
            <input type="number" name="rating" value="<%= book.rating %>" />
            <label for="notes">Notes:</label> <br />
            <input
              type="text"
              name="notes"
              value="<%= book.notes  %>"
              required
            />
            <input type="hidden" name="isbn" value="<%= book.isbn %>" />
            <input type="submit" value="Edit" />
            <input type="submit" formaction="/delete" value="Delete" />
          </form>
        </div>
        <% } %>
      </div>
    </div>
  </body>
</html>
